$main-color: #f00;

.wow-enter {
  background-color: #000;
}

.wow-enter-active {
  background-color: $main-color;
  transition: all 500ms;
}

.red {
  color: $main-color;
}

@mixin func() {
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
}

.my-alert {
  @include func();
  p {
    margin-bottom: 0;
  }
}

.my-alert2 {
  @extend .my-alert;
  background-color: $main-color;
}
